* {
  padding: 0;
  margin: 0;
  border: 0;
}


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}


nav,
footer,
header,
aside {
  display: block;
}


html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-width: 320px;
}


input,
button,
textarea {
  font-family: inherit;
}


input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.main_container{
  background: url(../img/main_photo.jpg) no-repeat;
    background-position: 100% 100%;
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 0.01px solid white;
}





/* КНОПКИ */

.main_div_button{
  margin-top: 20%;
  text-align: center;
  
}
.main_button{
  background-color: #008a5e;
  min-height: 100px;
  width: 60%;
  font-size: 45px;
  color: white;
  border-radius: 50px;
  font-weight: 500;
  padding: 25px;
}

.main_button:hover{
  transition-duration: 1s;
  background-color: #daf3e6;
  color: #008a5e;

}

/* СТРАНИЦА АДРЕСОВ*/

.Adress_main{
  width: 60%;
  border-radius: 50px;
  margin:0 auto;
  padding: 3%;
  margin-top: 3%;
 box-shadow: 1px 3px 40px 16px #008A5E;

}

.ul_adress{
  margin:0 auto;
  text-align: center;
}

.ul_adress li {
  margin: 20px 0px 20px 0px;
  font-size: 30px;
  padding-bottom: 15px;
  border-bottom: 4px solid  rgba(27, 178, 97, 0.28);
  font-weight: 700;
  color: #707070;
  line-height:35px;
}

.Adress_name{
  
   padding-top: 30px;
   text-align: center;
   font-size: 50px;
   font-weight: 700;
   color: #008a5e;
}

/* СТРАНИЦА АДРЕСОВ*/



/* --------------------*/

.container{
  max-width: 1180;
  margin:0 auto;
  padding: 0px 10px;
}

.header{
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
  z-index: 50;
}

.header:before{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #008a5e;
  z-index: 2;
}

.header_body{
  position: relative;
  
  display: flex;
  justify-content: space-between; 
  height: 80px;
  align-items: center;
}
.header_logo{
  flex:0px 0px 60px;
  position: relative;
  z-index: 3;
}
.header_logo img{
  width: 75px;
  border-radius: 50px;

}
.header_burger{
  display: none;
}
.header_menu{

}

.header_list{
  display: flex;
  position: relative;
  z-index: 2;

}
.header_list li{
  list-style: none;
  margin:0px 0px 0px 30px;
  
 

  
}
.header_link{
color: white;
 font-size: 28px;
 font-weight: 700;
 text-decoration: none;

}

.header_link:hover{
  border-bottom: 4px solid #daf3e6;
  transition: all 0.2s ease 0s;
  border-radius: 8px;


}

 @media (max-width: 767px) {

    body.lock{
       overflow: hidden;
    }

    .header_burger{
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      position: relative;
      z-index: 3;
}
  
    
    .header_body{
      height: 60px;
    }

    .header_logo{
      width: 40px;
    }
     .header_burger span{
      position: absolute;
      background-color: white;
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      top: 9px;
      transition: all 0.3s ease 0s;
     }
     .header_burger:before,
     .header_burger:after{
      content: '';
      background-color: white;
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      transition: all 0.3s ease 0s;
     }
     .header_burger:before{
      top: 0;
     }
     .header_burger:after{
      bottom: 0;
     }

     .header_burger.active:before{
      transform:  rotate(45deg);
      top:9px;
     }

     .header_burger.active:after{
      transform:  rotate(-45deg);
      bottom: 9px;
     }

     .header_burger.active span{
      transform: scale(0);
     }

     .header_menu{
      position: fixed;
      top:-100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #008a5e;
      padding: 70px 10px 20px 10px;
      transition: all 0.3s ease 0s;
     }

     .header_menu.active{
      top: 0;
     }

     .header_list{
      display: block;
     }
     .header_list li{
      margin: 0px 0px 20px 0px;
     }
     .header_logo img{
  width: 55px;
  border-radius: 30px;

  }
}

/* --------------------*/



/* сетка медиа запросов*/

@media (max-width: 576px) {
  .main_button{
    font-size: 38px;
    padding: 35px;
    width: 85%;
  }

  .ul_adress li {
  margin: 20px 0px 20px 0px;
  font-size: 25px;
  padding-bottom: 15px;
  border-bottom: 4px solid  rgba(27, 178, 97, 0.28);
  font-weight: 700;
  color: #707070;
  line-height:35px;
}

.Adress_main{
  width: 80%;
  border-radius: 50px;
  margin:0 auto;
  padding: 3%;
  margin-top: 3%;
 box-shadow: 1px 3px 40px 16px #008A5E;
}
 .Adress_name{
  font-size: 45px;
 }

 }


@media (max-width: 768px) { 
  .main_button{
    margin-top: 10%;
  } 
}


@media (max-width: 992px) { }


@media (max-width: 1200px) {}

/* сетка медиа запросов*/

Skip to content
Product 
Team
Enterprise
Explore 
Marketplace
Pricing 
Search
Sign in
Sign up
insp1
/
html-template
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
html-template/css/main.css
@insp1
insp1 Button «Up/Down» added
Latest commit acbda82 on 23 Jul 2017
 History
 1 contributor
80 lines (72 sloc)  1.31 KB
   
body {margin: 0; padding: 0; font-family: 'RobotoRegular', Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6, p {
  font-weight: normal;
  font-family: 'RobotoLight', Helvetica, Arial, sans-serif;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  display: none;
}

.popup {
  position: absolute;
  width: 300px;
  height: 180px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #FFF;
}

.close-popup {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.close-popup:before {
  content: '';
  background-color: #000;
  position: absolute;
  height: 1px;
  width: 31px;
  top: 11px;
  left: -4px;
  transform: rotate(-45deg);
}

.close-popup:after {
  content: '';
  background-color: #000;
  position: absolute;
  height: 1px;
  width: 31px;
  top: 11px;
  transform: rotate(45deg);
  left: -4px;
}

.scroll-up {
    width: 130px;
    height: 100vh;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #fcfcfc;
    color: #aaa;
    font-size: 13px;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background .2s ease;
    display: none;
}

.scroll-up:hover {
    background-color: #eeeeee;
    color: #777777;
}
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete